.path-aboutS{
    color: #8F9597;
    font-size: 18px;
    margin: 40px 0px 0px 80px;
}
.container{
    display: flex;
}
.path-aboutS b{
    color: black;
}
.header-aboutS{
    font-size: 40px;
    margin: 115px 0px 0px -330px;
}
.card{
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 300px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    position: absolute;
    top: 16rem;
    left: 35rem;
}
.bglogo{
    position: absolute;
    left: 50rem;
    top: 18rem;
}