.path-aboutS{
    color: #8F9597;
    font-size: 18px;
    margin: 40px 0px 0px 80px;
}
.container{
    display: flex;
}
.path-aboutS b{
    color: black;
}
.header-aboutS{
    font-size: 40px;
    margin: 115px 0px 0px -330px;
}