.path-student{
    color: #8F9597;
    font-size: 18px;
    margin: 40px 0px 0px 80px;
}
#container{
    display: flex;
}
.path-student b{
    color: black;
}
.header-student{
    font-size: 40px;
    margin: 115px 0px 0px -385px;
}
.tasks-student{
    margin: 180px 0px 0px -130px;
    font-size: 20px;
}
#list{
    margin: 45px 0px 0px 0px;
}
#task-student{
    margin: 70px 0px -23px -35px;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 15px;
}
#add-button{
    background-color: #3E9ECA;
    color: white;
    margin-left: 10px;
    border-radius: 8px;
    padding: 4px;
    font-size: 16px;
}
#close-button{
    background-color: red;
    color: white;
    margin-left: 10px;
    border-radius: 8px;
    border: 0px;
    border-color: #061b28;
    font-size: 16px;
}
#input-box{
    background-color: white;
    color: #3E9ECA;
    border-radius: 8px;
    padding: 4px;
    padding-right: 75px;
    font-size: 16px;
}

@media only screen and (max-width: 550px){
    .path-student{
        margin: 35px 0px 0px 125px;
    }
    .tasks-student{
        margin-right: -75px;
        margin-top: 240px;
    }
}