.path-student{
    color: #8F9597;
    font-size: 18px;
    margin: 40px 0px 0px 80px;
}
.container{
    display: flex;
}
.path-student b{
    color: #3E9ECA;
}
.header-student{
    font-size: 40px;
    margin: 115px 0px 0px -340px;
}
#list{
    margin: 45px 0px 0px 0px;
}
#input-box{
    background-color: white;
    color: #3E9ECA;
    border-radius: 8px;
    padding: 4px;
    padding-right: 75px;
    font-size: 16px;
}

.tasks-student {
    margin: 180px 0px 0px -130px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }
  
.task-card {
    display: flex;
    border: 2px solid #061b28;
    padding-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    width: 50rem;
    height: 70px;
    margin-top: 15px;
  }
  
.task-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  }
  
.task-card .card-body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
.task-card .form-check-input {
    margin-right: 10px;
    width: 17px;
    height: 17px;
    accent-color: #061b28;
  }
  
.task-card .form-check-label {
    flex-grow: 1;
  }

  .checked .form-check-label {
    color: #3E9ECA;
  }
  
  
@media only screen and (max-width: 550px){
    .path-student{
        margin: 35px 0px 0px 125px;
    }
    .tasks-student{
        margin-right: -75px;
        margin-top: 240px;
    }
}