.tasks-students {
    margin-top: 25px;
    font-size: 20px;
}
.header-admin{
    margin-top: 25px;
}
.test3{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 80px;
}
#list-admin{
    margin-top: 25px;
}
#add-button{
    background-color: #3E9ECA;
    color: white;
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}
#add-button:hover{
    background-color: white;
    color: #3E9ECA;
    border: #3E9ECA 2px solid;
    transition: 0.4s;
}
.meh{
    margin-top: 20px;
}