.left-div{
    position: absolute;
    top: 0rem;
    height: 792px;
    width: 850px;
    background-color: #061b28;
}
.circle{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #3E9ECA;
    left: 46rem;
    top: 8rem;
}
.circle-text{
    position: absolute;
    font-size: 3rem;
    color: white;
    left: 1.25rem;
    top: 2.35rem;
}
.div-text{
    color: #555c60;
}
.circle2-text{
    position: absolute;
    font-size: 0.75rem;
    color: white;
    left: 2rem;
    top: 8.35rem;
}
.right-div{
    position: absolute;
    top: 0rem;
    right: 0rem;
}
.login{
    font-size: 24px;
    padding: 14px 40px;
    border-radius: 4px;
    border: 2px solid #3E9ECA;
    background-color: #061b28;
    color: #3E9ECA;
    position: absolute;
    top: 27rem;
    right: 11.5rem;
}
.login:hover{
    background-color: white;
    transition: 0.7s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.logout{
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 4px;
    border: 2px solid #3E9ECA;
    background-color: #061b28;
    color: #3E9ECA;
}
.logout:hover{
    background-color: #3E9ECA;
    color: white;
    transition: 0.7s;
    border: 2px solid #061b28;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.logo{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 15rem;
    right: 11rem;
}