.path-admin{
    color: #8F9597;
    font-size: 18px;
    margin: 40px 0px 0px 80px;
}
#container{
    display: flex;
}
.path-admin b{
    color: black;
}
.header-admin{
    font-size: 40px;
    margin: 115px 0px 0px -350px;
}
.tasks-admin{
    margin: 200px 0px 0px -185px;
    font-size: 20px;
}
#list-admin{
    margin: 45px 0px 45px 0px;
}
#task-admin{
    margin: 65px 0px 0px -13px;
}
#add-buttona{
    background-color: #3E9ECA;
    color: white;
    margin-left: 10px;
    width: 35px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
}
#close-buttona{
    background-color: red;
    color: white;
    margin-left: 10px;
    border-radius: 8px;
    width: 35px;
    height: 30px;
    border: 0px;
    border-color: #061b28;
    font-size: 16px;
}
#input-box{
    background-color: white;
    color: #3E9ECA;
    border-radius: 8px;
    padding: 4px;
    padding-right: 75px;
    font-size: 16px;
}

@media only screen and (max-width: 550px){
    .path-admin{
        margin: 30px 0px 0px 125px;
    }
    .tasks-admin{
        margin-top: 250px;
        margin-right: -25px;
    }
    #add-buttona{
        margin: 0px 0px 0px -20px;
    }
}