.path-admincomp{
    color: #8F9597;
    font-size: 18px;
}
#container{
    display: flex;
}
.test10{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 80px;
}
.path-admincomp b{
    color: #3E9ECA;
}
.header-adminc{
    font-size: 40px;
    margin-top: 25px;
}
