.header-admincal{
    font-size: 40px;
    margin-top: 25px;
}
.body-box{
    display: flex;
    flex-direction: column;
}
.input-body{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.react-datepicker-wrapper{
    width: 29%;
}
.react-datepicker{
    border: 2px solid #3E9ECA;
}
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .test9{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 80px;
  }